.home_container {
  /* background: linear-gradient(
    90deg,
    rgba(16, 0, 252, 1) 0%,
    rgba(0, 212, 255, 1) 30%
  ); */
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.7)
    ),
    url('./images/city.jpg');
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  /* border: 1px solid black; */
  height: 500px;
  width: 525px;
}

.box_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box_left h1 {
  font-size: 50px;
  margin-top: 10px;
  /* color: white; */
}

.profile_pic {
  border: 1px solid blue;
  border-style: none;
  border-radius: 50%;
  background-image: url('./images/Professional\ Photo.png');
  background-size: cover;
  height: 375px;
  width: 375px;
}

.box_right {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.box_right h1 {
  /* color: white; */
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: -100px;
}

.typed_text_container {
  /* border: 1px solid black; */
  height: 50px;
}

.Typewriter__wrapper {
  color: blue;
  font-size: 35px;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
