.home_container {
  /* background-color: floralwhite; */
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    ),
    url('./images/city.jpg');
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  /* border: 1px solid black; */
  height: 500px;
  width: 525px;
}

.box_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box_left h1 {
  font-size: 50px;
  margin-top: 10px;
}

.profile_pic {
  border: 1px solid blue;
  border-style: none;
  border-radius: 50%;
  background-image: url('./images/Professional\ Photo.png');
  background-size: cover;
  height: 375px;
  width: 375px;
}

.box_right {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.box_right h1 {
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: -50px;
}

.typed_text_container {
  /* border: 1px solid black; */
  height: 50px;
}

.Typewriter__wrapper {
  color: blue;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
