.row_container {
  height: 90vh;
  display: flex;
  align-items: center;
}

.box_left,
.box_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.box_left {
  align-items: center;
}

.box_left h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  margin-top: 10px;
}

.fullstack {
  border: 2px dotted black;
  width: 525px;
}

.box_right h1 {
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profile_pic {
  border: 1px solid blue;
  border-style: none;
  border-radius: 50%;
  background-image: url('./images/Professional\ Photo.png');
  background-size: cover;
  height: 375px;
  width: 375px;
}

.Typewriter__wrapper {
  color: blue;
  height: 150px;
  font-size: 35px;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
}

.Typewriter__cursor {
  color: white;
}

@media (max-width: 812px) {
  .box_right {
    align-items: center;
    text-align: center;
    justify-content: unset;
    height: 0;
  }
  .box_right h1 {
    background-color: skyblue;
    font-size: 50px;
  }
  .Typewriter__wrapper {
    height: 300px;
  }
}
