.about_header {
  text-align: center;
  line-height: 35px;
  border: 1px solid black;
  background: #36d1dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_header h1,
.about_header h2 {
  color: white;
  font-weight: 100;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about_header h1 {
  margin-top: 5px;
  color: white;
  font-weight: 700;
}

.comic_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.comic_container:nth-child(1),
.comic_container:nth-child(2) {
  border-bottom: 5px solid black;
}

.comic_container img {
  margin: 5px;
  height: 375px;
  width: 375px;
}

@media (max-width: 812px) {
  .about_header h1 {
    font-size: 35px;
  }
  .about_header h2 {
    font-size: 23px;
    padding: 2px;
  }
}
