.work_container {
  height: 85vh;
}

.left_door {
  background-color: black;
  background-image: url('./images/lion.jpg');
  background-size: cover;
  height: 90vh;
  width: 50%;
  position: absolute;
  left: 0;
  animation: left_door 5s ease-out;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  z-index: 1;
}

.right_door {
  background-color: black;
  background-image: url('./images/lion.jpg');
  background-size: cover;
  transform: rotateY(180deg);
  height: 90vh;
  width: 50%;
  position: absolute;
  right: 0;
  animation: right_door 5s ease-out;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  z-index: 1;
}

.open_gate {
  font-size: 20px;
  width: 80px;
  border: none;
}

@keyframes left_door {
  from {
    left: 0;
  }
  to {
    left: -50%;
  }
}

@keyframes right_door {
  from {
    right: 0;
  }
  to {
    right: -50%;
  }
}

.work_box1 {
  /* border: 3px solid red; */
  height: 75vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.work_box1 h1 {
  font-family: cursive;
}

.work_box_col {
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.work_box2 {
  height: 15vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work_box2 h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.projects {
  height: 250px;
  width: 250px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  background-size: cover;
  background-position: center;
}

.project_1 {
  background-image: url('./images/vision_myself.png');
}

.project_2 {
  background-image: url('./images/main-kitchen.jpg');
}

.project_3 {
  background-image: url('./images/workout.png');
}

.project_4 {
  background-image: url('./images/telescope.jpg');
  background-position-x: 80%;
}
.project_5 {
  background-image: url('./images/Meiwah.png');
  background-position-x: 12%;
}

@media (max-width: 812px) {
  .left_door,
  .right_door {
    display: none;
  }
  .work_box_col {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  .projects {
    height: 275px;
    width: 275px;
  }
  .work_box1 {
    margin-top: 10px;
  }
  .work_box2 {
    display: none;
  }
}

/*============POPUP==================*/
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popup_container {
  width: 30%;
  height: 500px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 32px 64 px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  /* transition: all 0.5s; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workout_container {
  height: 600px;
}

.invest_container {
  height: 650px;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup_container {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup_close:link,
.popup_close:visited {
  color: gray;
  position: absolute;
  top: -23px;
  right: 20px;
  font-size: 60px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
}

.popup_close:hover {
  color: dodgerblue;
}

.popup_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_but {
  background-color: dodgerblue;
  color: white;
  margin: 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  height: 50px;
  width: 200px;
}

.popup_but:hover {
  background-color: rgb(4, 127, 250);
}

.workout_btn {
  width: 150px;
}

/*==============================*/

.info_section {
  display: flex;
}

.info_section1 {
  border: 5px solid black;
  height: 400px;
  margin-top: 50px;
}

.workout_section {
  height: 525px;
}

span {
  color: blue;
}

.card-header {
  color: white;
  background-color: dodgerblue;
}

@media (max-width: 812px) {
  .popup_container {
    height: 580px;
  }
  .popup_buttons {
    flex-direction: column;
    align-items: center;
  }
  .info_section2 h3,
  .info_section3 h3 {
    margin-top: 8px;
    font-size: 18px;
  }
  .popup_close:link,
  .popup_close:visited {
    top: -22px;
  }
}
