.navList {
  /* border: 1px solid black; */
  background-color: black;
  height: 10vh;
  display: flex;
  align-items: center;
}

.nav_link,
.nav_link:active,
.nav_link:visited {
  font-size: 18px;
  color: white;
}

.nav_link:hover {
  color: dodgerblue;
}

@media (max-width: 812px) {
  .nav_item {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}
