.navList {
  background-color: black;
  height: 10vh;
  display: flex;
  align-items: center;
}

.nav_item {
  margin-right: 30px;
}

.nav_link,
.nav_link:active,
.nav_link:visited {
  font-size: 25px;
  color: white;
}

.nav_link:hover {
  color: dodgerblue;
}

@media (max-width: 812px) {
  .navList {
    /* display: flex;
    flex-direction: column; */
    height: 100px;
  }
  .nav_item {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .nav_link,
  .nav_link:active,
  .nav_link:visited {
    font-size: 22px;
    color: gray;
  }
  .nav_link:hover {
    color: white;
  }
}
